!!!
%html
  %head
    %title CruiseControl.rb #{@title ? " - " + @title : ''}
    = stylesheet_link_tag    'core', media: 'all'
    = javascript_include_tag 'core'
    = csrf_meta_tags
  %body
    = yield